<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transação App</title>
<meta charset="UTF-8" name="viewport"
	content="device-width; initial-scale=1.0;">
<title>Pagamento</title>
<meta name="viewport" charset="UTF-8"
	content="width=device-width, initial-scale=1">
<title>School Js</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="static/estilo.css" type="text/javascript">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="../style/main.css">
<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<script type="text/javascript" charset="utf8"
	src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
	src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
<script>
            $(function(){


                

	
                $("#btn_gravar").click( (event) =>{
                    let endpoint = 'http://localhost:8080/api/all'
                    event.preventDefault();
                    let transacao ={ // Object // Objects
                    tipo_transacao: $("#tipo").val(),
                     estabelecimento:  $("#estab").val(),
                     valor:   $("#valor_transacao").val(),
                     matricula: $("#aluno_matricula").val()
                    }

                    
                   /*           
                $.ajax({
                    type: "GET",
                    async:true,
                    url: ENDPOINT,
                    contentType: application/json,
                    data: null,
                    dataType: "json",
                    encode: true,
                    //success: ()=>{
                      //  console.log(JSON.parse(aluno))
                    
                    success: (data) =>{
                        console.log(data)
                    }
                })
                */
                debugger
                var validator = $( "aluno_form" ).validate();
				if(Object.keys(transacao).length === 0){
					window.alert("Aluno sem dados preenchidos");
					$("#form_aluno").focus();
				}else{
				$("#result_doc").css('visibility', 'visible')
                $.ajax({
                    url: endpoint,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    type: "GET", /* or type:"GET" or type:"PUT" */
                    dataType: "json",
                    data: {
                    },
                    success: function (result) {
                      let response = []
                      let status  = result.status;
                      response = result
                      response.forEach( (doc) =>{
                          //let document = JSON.parse(doc)
                          console.log(doc)
                          console.log(status);
							$("#form_aluno").append('<table class="table-bordered table-hover table-stripped"><thead><th>DOCUMENTO</th><th>TIPO_TRANSACAO</th></thead><tbody><tr><td>'+doc.id+'</td></tr><td>'+doc.tipo_transacao+'</tr></tbody></table>')
							$("#form_aluno").trigger('reset');
                          })  
                    },
                    error: function () {
                        console.log("error");
                    }
                });
               /*
                 $.ajax({
                    url: ENDPOINT,
                    type: "get",
                    crossDomain: true,
                    dataType: 'json',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Headers': '*'
                },
                     success: function( response ) {
                        console.log( response ); // server response
                        }
                    /*
                        url: ENDPOINT,
                     type:"POST",
                     success: function(data) {
                    var resp = JSON.parse(response)
                     alert(data);
                     console.log(resp.status)
                    },
                    error: function (xhr, status) {
                        alert("error");
                    }
                */
                }
				});
                
                    
                })
               
                //$("#form_aluno").validate();
                
                /*$("#btn_gravar").on('submit', (e) =>{
                   console.log('teste');
                 
                 
                 /*   var aluno = {
                     nome: $("#aluno_nome").val(),
                     curso:  $("#aluno_curso").val(),
                     telefone:   $("#aluno_telefone").val(),
                     matricula: $("#aluno_matricula").val()
                    }
                    console.log(typeof(aluno))
                    //aluno = JSON.parse(aluno)
                        
                $.ajax({
                    type: "POST",
                    async:true,
                    url: "filtro.js",
                    contentType: application/json,
                    data: aluno,
                    dataType: "json",
                    encode: true,
                    //success: ()=>{
                      //  console.log(JSON.parse(aluno))
                    
                    success: (data) =>{
                        console.log(data)
                    }
                })
            */
               
          //  })

            
    </script>
</head>
<body>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-inverse">
		<ul class="navbar-nav mr-auto">
			<li><a class="navbar-brand" href="/web">Home</a></li>
			<li class="nav-item dropdown navbar-brand"><span>&nbsp;</span> <a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Operações </a>
				<div class="dropdown-menu text-capitalize text-center"
					style="border-color: brown;" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Incluir Transação</a> <a
						class="dropdown-item" href="#">Lista de Transações</a>

					<div class="dropdown-divider">
						<a class="dropdown-item alert-info" th:href="@{/pagamento}">Incluir
							PAgamento</a>
					</div>
				</div></li>

		</ul>
	</nav>

	<div style="margin-left: 25%; margin-top: 45px;"
		class="container col-md-6 mb-3 mt-4 ml-3 mr-3">
		<div class="panel panel-primary text-center">
			<div class="card-header text-center alert-info display-4">
				<h4>Pagamentos:</h4>
			</div>
		</div>
		<div class="card form-group">
			<form id="form" th:action="@{/pagamentos}" method="post"
				th:object="${transacao}">
				<label class="badge bg-dark" for="tipo">Tipo:</label><span
					style="margin-left: 10px;"> </span><input type="text" name="tipo"
					required=required class="form-control-static.input-sm"
					placeholder="tipo de Pagamento" /> <br /> <br /> <label
					class="badge bg-dark" for="tipo">Estabelecimento:</label><span
					style="margin-left: 10px;"> </span><input type="text"
					name="establecimento" required=required class="form-control"
					placeholder="Estabelecimento" /> <br /> <label
					class="badge bg-dark" for="tipo">Valor:</label><span
					style="margin-left: 10px;"> </span><input type="text" name="valor"
					required=required class=iinput-group-sm placeholder="Valor" /> <br />
				<hr class="divider py-1 bg-dark" />
				<div class="row">
					<button type="submit" id="btn_gravar_pagamento"
						class="btn btn-success btn-sm" style="margin-left: 30px;">
						<em class="fa fa-pencil" aria-hidden="true">Gravar</em>
					</button>
					<span></span> <input type="reset" value="Limpar"
						class="btn btn-primary" />

				</div>

			</form>
		</div>
	</div>

</body>
</html>