<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="cabecalho">
<meta charset="UTF-8">
<title>Login - Transacao - JS</title>
<head>




<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />

<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<script type="text/javascript" charset="utf8"
	src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
	src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<meta name="viewport" charset="UTF-8"
	content="width=device-width, initial-scale=1.0">
<title>Register User</title>
<script>
		$(function(){

			$("#create_user").on('click', () =>{
				let user = {
				username: $("#usernameTxt").val(),
				password: $("#passwordTxt").val(),
				password_confirm: $("#passwordTxt2").val(),
				email: $("#emailTxt").val()
				}

				
				const url = "http://localhost:8080/register";
				 $.ajax({
	                    url: ENDPOINT,
	                    type: "post",
	                    crossDomain: true,
	                    dataType: 'json',
	                    headers: {
	                    'Accept': 'application/json',
	                    'Content-Type': 'application/json',
	                    'Access-Control-Allow-Origin':'*',
	                    'Access-Control-Allow-Headers': '*'
	                },
	                data: JSON.stringify(user),
	                 success: function(data){
	                	console.log('success --> data :', data);
		              }
				
				 })

				

					
				
					

				})
				
			

			})
			
</script>
</head><body>

	<section class="vh-100" style="background-color: #eee;">
		<div class="container col-md-6">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

									<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign
										up</p>

									<form class="mx-1 mx-md-4" th:action="@{/register}" method="post">
										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-user fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="text" id="usernameTxt" class="form-control"  name="username"/>
												<label class="form-label" for="form3Example1c">Username:
												</label>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="email" id="emailTxt" name="email" class="form-control" /> <label
													class="form-label" for="form3Example3c">Email</label>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="password" id="passwordTxt" name="password1" class="form-control" />
												<label class="form-label" for="form3Example4c">Senha</label>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fas fa-key fa-lg me-3 fa-fw"></i>
											<div class="form-outline flex-fill mb-0">
												<input type="password" id="passwordTxt2" name="password2"
													class="form-control" /> <label class="form-label"
													for="form3Example4cd">Repita a senha:</label>
											</div>
										</div>

										<div class="form-check d-flex justify-content-center mb-5">
											<input class="form-check-input me-2" type="checkbox" value=""
												id="form2Example3c" /> <label class="form-check-label"
												for="form2Example3"> Concordo com todos os termos. <a
												href="#!">Termos de serviço.</a>
											</label>
										</div>

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<button type="submit" id="create_user"
												class="btn btn-primary btn-lg">Registrar</button>
										</div>

									</form>

								</div>
								<div
									class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

									<img
										src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
										class="img-fluid" alt="Sample image">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>